:root {
  --cor-fundo: #35104A;
  --cor-destaque: #33B4C2;
  --cor-texto: #EAD8F4;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.apresentacao {
  display: flex;
  margin: 5%;
  align-items: center;
  justify-content: space-between;
}

strong {
  color: var(--cor-destaque);
}

a {
  
}

.foto {
  height: 190px;
}